:root{
  --primary: #6D6AFE;
  --red: #FF5B56;
  --black: #111322;
  --white: #FFFFFF;
  --gray1: #3E3E43;
  --gray2: #9FA6B2;
  --gray3: #CCD5E3;
  --gray4: #E7EFFB;
  --gray5: #F0F6FF;
}

* {
  box-sizing: border-box;
}

/* 태그 */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  background-color: var(--gray1);
}

body{
  width: 100%;
  margin: 0px;
}

a {
  text-decoration: none;
}

footer {
  position: relative;
  display: flex;
  height: 10rem;
  /* padding: 2rem 6.5rem 4rem 6.5rem; */
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  background-color: var(--black);
  color: var(--white);
}

/* 클래스 */
.button_font{
  color: var(--grey-light, #F5F5F5);
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* PC */
@media (min-width: 1200px){
  .header_layout{
    width: 100%;
    padding: 1.25rem 12.5rem;
  }

  .header_dummy{
    justify-content: space-between;
  }
}

/* 테블릿 */
@media (max-width: 1199px){
  .header_layout{
    width:100%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    gap: 539px;
  }

  .header_dummy{
    justify-content: center;
  }
}

@media (max-width: 864px){
  .header_layout{
    width:100%;
    padding: 1.25rem 2rem;
    gap:0px;
  }

  .header_dummy{
    justify-content: space-between;
  }
}

/* PC, 테블릿 */
@media(min-width: 768px){
  .main_content{
    padding: 2.4rem 15.6rem 0 15.6rem;
  }

  .main_thumb_background{
    margin: 3.13rem 2.56rem -7.4rem;
  }

  .section_content {
    display: flex;
    height: 30rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap: 3rem;
  }

  .section_content:nth-child(odd) .section_desc{
    order: 1
  }
  .section_content:nth-child(odd) .section_sub_desc{
    order: 2
  }
  .section_content:nth-child(odd) .section_image_background{
    order: 3
  }

  .section_content:nth-child(even) .section_desc{
    order: 2
  }
  .section_content:nth-child(even) .section_sub_desc{
    order: 3
  }
  .section_content:nth-child(even) .section_image_background{
    order: 1
  }

  .section_area {
    background-color: var(--white);
  
    position:relative;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
  }

  .section_image_background{
    width:34.3745rem;
  }

  .section_desc{
    width: 18rem;
    height: 7.5rem;
  }

  .section_sub_desc{
    width: 18rem;
    height: 4.5rem;

    color: #6B6B6B;

    font-family: Abel;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}

/* 모바일 */
@media (max-width: 767px){
  .main_content{
    padding: 2.4rem 1.75rem 0 1.75rem;
  }

  .header_layout{
    padding: 1.25rem 2rem;
    gap: 0px;
  }

  .header_dummy{
    justify-content: space-between;
  }

  .main_thumb_background{
    margin: 0.8rem 0.6rem 0 0.6rem;
  }

  .section_area{
    width:100vw;
    align-items: center;
  }

  .section_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding: 2.5rem 2rem;
  }

  .section_content .section_desc{
    order: 1;
    margin-bottom: 1.25rem;
  }
  .section_content .section_sub_desc{
    order: 3;
  }
  .section_content .section_image_background{
    order: 2;
    margin-bottom: 1rem;
  }
  .section_desc{
    width: 100%;
    margin: 0;
  }

  .section_image_background{    
    width:100%;
  }

  .footer_list{
    width: 100%;
    height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer_list .codeit{
    width: 50%;
    height: 50%;
    order: 3;
    display: flex;
  }
  
  .footer_list .policy_faq{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
    order: 1;
  }
  
  .footer_list .sns{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    order: 2;
  }
}

.header_content{
  width: 100%;
  height: 100px;

  position: relative;
  justify-content: center;
  align-items: center;
  
  z-index: 1;
  background-color: var(--gray5);
}

.header_dummy{
  position: fixed;
  display: flex;
}

.linkbrary{
  left: 12.5rem;
  top: 2rem;
  cursor: pointer;
}

.linkbrary_logo{
  width: 8.3125rem;
  height: 1.5rem;
}

.login_button{
  display: flex;
}

.login{
  display: flex;
  flex-shrink: 0;
  cursor: pointer;

  width: 8rem;
  
  right: 12.5rem;
  top: 1.25rem;

  padding: 1rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  border-radius: 0.5rem;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, var(--primary) 0.12%, #6AE3FE 101.84%));
}

.main_content{

  position: relative;
  background-color:#F0F6FF;
  align-items: center;
  gap: 2.5rem;
  overflow: hidden;

  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.main_desc{
  color: #000000;
  text-align: center;
  font-family: Pretendard;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem; /* 125% */
  
  width: 66%;
  flex-wrap: wrap;
}

.main_desc_gradient{
  background: linear-gradient(91deg, var(--primary) 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main_link{
  background-color: var(--primary);
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  display: flex;
  width: 21.875rem;
  padding: 1rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  cursor: pointer;

  border-radius: 0.5rem;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, var(--primary) 0.12%, #6AE3FE 101.84%));
}

.main_thumb_background{
  width: 100%;
  position:relative;
}

.main_thumb{
  width: 100%;

  border-radius: 1.5625rem;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 67.68%, var(--gray5) 94.76%);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}

.section_desc{
  flex-shrink: 0;
  color: #000;
  font-family: Pretendard;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01875rem;
}

.gradient_font{
  color: #000;

  font-family: Pretendard;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01875rem;
}

.section_desc_gradient1{
  background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section_desc_gradient2{
  background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section_desc_gradient3{
  background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section_desc_gradient4{
  background: var(--fandom-k-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section_image_1{
  width: 17.4375rem;
  height: 17.15256rem;
  
  background: var(--gray5) 50% / cover no-repeat;
}

.section_image_2{
  position: absolute;
  flex-shrink: 0;

  width: 25.875rem;
  height: 16.875rem;
  top: 53%;
  left: 53%;
  transform: translate(-50%, -50%);
  
  background: var(--gray5) 50% / cover no-repeat;
}

.section_image_3{
  position: absolute;
  flex-shrink: 0;
  overflow: hidden;
  
  width: 35.625rem;
  height: 29.3125rem;

  border-radius: 1.5625rem;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
  margin:-0.6rem;
  filter: brightness(40%);
}

.section_image_3_sub{
  margin:7rem 4.19rem 4.19rem 4.19rem;

  position: absolute;
  width: 26rem;
  height: 16.9375rem;
  flex-shrink: 0;
}

.section_image_4{
  position: absolute;
  flex-shrink: 0;
  overflow: hidden;

  width: 100%;
  height: 36.5rem;
  margin: 3.44rem auto auto 3.75rem;

  background: var(--gray5) 50% / cover no-repeat;
}

.section_image_background{
  position:relative;
  display: flex;
  
  flex-grow: 1 0 auto;
  
  height:28.125rem;
  border-radius: 0.9375rem;
  background-color: var(--gray5);
  overflow: hidden;
}

.section_image_background .card_list{
  position: absolute;
  display: flex;
  
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  
  background: var(--gray5) 50% / cover no-repeat;
  
  list-style-type: none;
}

.footer_list{
  width: 100%;
  display: flex;
  justify-content: space-between;

  list-style-type: none;
  padding: 0 40px;
}

.codeit{
  color: #676767;

  text-align: center;
  font-family: Abel;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.policy_faq{
  display: flex;
  gap:1.88rem;
}

.sns{

}

.policy{
  color: #CFCFCF;

  font-family: Abel;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  cursor: pointer;
}

.faq{
  color: #CFCFCF;

  font-family: Abel;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  cursor: pointer;
}

.facebook{
  cursor: pointer;
}

.twitter{
  cursor: pointer;
}

.youtube{
  cursor: pointer;
}

.instargram{
  cursor: pointer;
}