body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.contents{
  width:100%;
  height:100%;

  background:linear-gradient(0deg, rgba(0,0,0,.3), rgba(255,255,255,1.0) 100%);
  background-color: red;
}

.contents_left{
  background-color: green;
}

.contents_middle{
  background-color: blue;
}

.contents_right{
  background-color: yellow;

}