@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;

  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
}
