@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;

  margin: 0;
  padding: 0;

  font-family: "DungGeunMo", sans-serif;
  background-color: rgb(55, 65, 81);
}

#root {
  width: 100%;
  min-height: 100vh;
}

@font-face {
  font-family: "DungGeunMo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .ball {
    @apply pointer-events-none absolute w-2.5 h-2.5 rounded-full bg-gray-400 opacity-50;
    animation: implode 1s ease-in-out;
    animation-fill-mode: both;
  }

  @keyframes implode {
    100% {
      transform: scale(0);
    }
  }
}
